  <div class="text-center bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-4">
          <h2 class="mb-4">Liên lạc</h2>
          <p class="m-0">
            <a href="tel:+246 - 542 550 5462" class="text-white">009911223344</a>
          </p>
          <p><a href="mailto:info@pingendo.com" class="text-white">QiaoT@gmail.com</a>
          </p>
        </div>
        <div class="col-md-4 p-4">
          <h2 class="mb-4" contenteditable="true">Địa Chỉ</h2>
          <p>367,Nguyễn Kiệm,Gò vấp</p>
        </div>
        <div class="col-md-4 p-4">
          <p class="mb-0 mt-0 border-bottom-0 border-top-0 w-100"></p>
          <p>© 2014 Công Ty CP Đầu Tư Tổng Hợp Liên Việt Giấy chứng nhận ĐKKD số 0314393048 do Sở KH&amp; ĐT TP. HCM cấp</p>
        </div>
      </div>
    </div>
  </div>